{% extends 'base.html' %}
{% load crispy_forms_tags utils %}
{% block title %}Neue Reservierung{% endblock %}

{% block content %}
<div class="container">
    <br/>
    <div class="row">
        <div class="col-auto mr-auto">
            <h2>Neue Reservierung auf Platz {{ pnumber }}
                <small class="text-muted">am {{ date }}</small>
            </h2>
        </div>
        <div class="col-auto">
            <a href="{% url 'index' %}" class="btn btn-secondary active" data-toggle="tooltip"
               data-placement="right" role="button" aria-pressed="true">zurück</a>
        </div>
    </div>

    <hr/>
    <br/>
    {% if messages %}
    {% for message in messages %}
    <br/>
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endfor %}

    {% if form.errors %}
    {% for field in form %}
    {% for error in field.errors %}
    <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endif %}

    {% endif %}
    <br/>
    <form method="post" novalidate>
        {% csrf_token %}
        {% if not is_basic_user %}
        <div class="row">
            <div class="col-sm">
                {{ form.title|as_crispy_field }}
            </div>
            <div class="col-sm">
                {{ form.type|as_crispy_field }}
            </div>
        </div>
        {% endif %}
        {% if is_basic_user %}
        <div class="row">
            <div class="col-sm">
                <p style="line-height: 40%">Spiel-Typ*</p>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-sm">
                <!-- Show two Buttons for single and double game. They configure the form fields -->
                <input type="hidden" name="einzel-selected" value="{{einzel}}">
                {% if is_basic_user %}
                {% if einzel %}
                <input type="submit" name="einzel" value="Einzelspiel" class="save btn btn-success"/>
                <input type="submit" name="doppel" value="Doppelspiel" class="btn btn-secondary"/>
                {% else %}
                <input type="submit" name="einzel" value="Einzelspiel" class="btn btn-secondary"/>
                <input type="submit" name="doppel" value="Doppelspiel" class="save btn btn-success"/>
                {% endif %}
                {% endif %}
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm">
                {{ form.start_time|as_crispy_field }}
                {{ form.start_time.errors }}
            </div>
            <div class="col-sm">
                {{ form.duration|as_crispy_field }}
                {{ form.duration.errors }}
            </div>
            {% if not is_basic_user %}
            <div class="col-sm">
                <!--  Falls Admin angemeldet ist -> Platz wählen -->
                {{ form.number|as_crispy_field }}
                {{ form.number.errors }}
                <br/>
            </div>
            {% endif %}
        </div>
        {% if form.errors.players %}
        <div class="row">
            <div class="col-sm">
                <div class="alert alert-danger" role="alert">
                    {% for error in form.errors.players %}
                    {{ error }}<br/>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% else %}
        <br/>
        {% endif %}
        <div class="row">
            <div class="col-sm">
                <p style="line-height: 40%">Spieler</p>
                <select name="players" class="selectpicker" multiple data-live-search="true" title="auswählen">
                    {% for item in form.players %}
                    {% if item|is_not_self:user %}
                    {{ item|format_name }}
                    {% endif %}
                    {% endfor %}
                </select>

            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm">
                {{ form.externPlayer1|as_crispy_field }}
            </div>
            {% if not einzel %}
            <div class="col-sm">
                {{ form.externPlayer2|as_crispy_field }}
            </div>
            <div class="col-sm">
                {{ form.externPlayer3|as_crispy_field }}
            </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-sm">
                {{ form.notes|as_crispy_field }}
            </div>

            <br/>
        </div>
        <div class="row">
            <div class="col-sm">
                <button type="submit" class="save btn btn-success">speichern</button>
                <a href="{% url 'index' %}" class="btn btn-secondary active" role="button"
                   aria-pressed="true">abbrechen</a>
            </div>
        </div>
    </form>
    <br/>
</div>

{% endblock %}