{% extends 'base.html' %}

{% block title %}Neue Reservierung{% endblock %}

{% block content %}
    <div class="container">
        <br/>
        <div class="row">
            <div class="col-11">
                <h2>Neue Reservierung {% if is_basic_user %} auf Platz 3 {% endif %}
                    <small class="text-muted">am {{ date }}</small>
                </h2>
            </div>
            <div class="col-1">
                <a href="{% url 'index' %}">zurück</a>
            </div>
        </div>

        <form method="post" novalidate>

            {% csrf_token %}
            {{ form }}


            <button type="submit" class="save btn btn-success">speichern</button>
            <a href="{% url 'index' %}" class="btn btn-secondary active" role="button" aria-pressed="true">abbrechen</a>
        </form>
        <br/>
    </div>


{% endblock %}