{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <br/>
    <div class="container">
        {% if user.is_authenticated %}
            <div class="row">
                <div class="col-9">
                    Hi {{ user.get_full_name }}!
                </div>
                <div class="col-2">
                    <a href="{% url 'password_change' %}">Change Password</a>
                </div>
                <div class="col-1">

                    <a href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col">

                        {{ calendar }}

                </div>
            </div>
        {% else %}
            Hi, you are not logged in. Go and <a href="{% url 'login' %}">login</a>!
        {% endif %}
    </div>

{% endblock %}