{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Reservierungsdetails{% endblock %}

{% block content %}
<br/>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2>Reservierung
                <small class="text-muted">{{ event.day }}</small>
            </h2>
        </div>
        <div class="col-sm">
            <a href="{% url 'index' %}" class="btn btn-secondary active" data-toggle="tooltip"
               data-placement="right" role="button" aria-pressed="true">zurück</a>
        </div>
    </div>

    <br/>
    <div class="row">
        <div class="col-sm">
            <p style="font-weight: 700;">{{ event.title }}:</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <p>Spieler:
                {% if players %}
                {% for p in players %}
                {{ p }}
                {% endfor %}
                {% endif %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <p>Typ: {{ event.type }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <p>Beginn: {{ event.start_time }} Uhr</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <p>Dauer: {{ event.duration }} Stunde/n</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <p>Platznummer: {{ event.number }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <p>Externe: {% if event.externPlayer1 %}{{ event.externPlayer1 }}{% endif %}
                {% if event.externPlayer2 %}{{ event.externPlayer2 }}{% endif %}
                {% if event.externPlayer3 %}{{ event.externPlayer3 }}{% endif %}
                {% if not event.externPlayer1 and not event.externPlayer2 and not event.externPlayer3 %}
                / {% endif %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <p>Notizen: {% if event.notes %}{{ event.notes }}{% else %} / {% endif %}</p>
        </div>
    </div>
</div>

{% endblock %}