{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Reservierungsdetails{% endblock %}


{% block navigation_bar %}
{% if user.is_authenticated %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="https://www.ockenheimer-tennisclub.de/" target="_blank">Ockenheimer Tennisclub
        e.V.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'password_change' %}">Passwort ändern</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
    </div>
</nav>
{% endif %}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<br/>
<div class="container">
    <div class="row">
        <div class="col-sm">
            {% if delete_error %}
            <div class="alert alert-danger" role="alert">
                {{ delete_error }}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-auto mr-auto">
            <h2>Reservierung
                <small class="text-muted">{{ event.day }}</small>
            </h2>
        </div>
        <div class="col-auto">
            <a href="{% url 'index' %}" class="btn btn-secondary active" data-toggle="tooltip"
               data-placement="right" role="button" aria-pressed="true">zurück</a>
        </div>
    </div>

    <br/>
    <div class="row">
        <div class="col-sm">
            <p style="font-weight: 700;">{{ event.title }}:</p>
        </div>
    </div>
    {% if players %}
    <div class="row">
        <div class="col-sm">
            <p>Spieler:
                {% for p in players %}
                {{ p }}
                {% endfor %}
            </p>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-sm">
            <p>Typ: {{ event.type }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <p>Beginn: {{ event.start_time }} Uhr</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <p>Dauer: {{ event.duration }} Stunde/n</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <p>Platznummer: {{ event.number }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <p>Externe: {% if event.externPlayer1 %}{{ event.externPlayer1 }}{% endif %}
                {% if event.externPlayer2 %}{{ event.externPlayer2 }}{% endif %}
                {% if event.externPlayer3 %}{{ event.externPlayer3 }}{% endif %}
                {% if not event.externPlayer1 and not event.externPlayer2 and not event.externPlayer3 %}
                / {% endif %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <p>Notizen: {% if event.notes %}{{ event.notes }}{% else %} / {% endif %}</p>
        </div>
    </div>
    {% if is_member_of_event %}
    <div class="row">
        <div class="col-sm">


            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                löschen
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Reservierung wirklich löschen?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {{ event.title }}:
                            {{ event.day }}, {{ event.start_time }} Uhr<br/>
                            {% for p in players %}
                            {{ p }}
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">abbrechen</button>
                            <form method="post">
                                {% csrf_token %}
                                <button name="delete" value="{{event.id}}" type="submit" class="btn btn-danger">
                                    löschen
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {% endif %}
</div>

{% else %}
{% include "not_registered.html" %}
{% endif %}

{% endblock %}
