{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Reservierungsdetails{% endblock %}


{% block navigation_bar %}
{% if user.is_authenticated %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="https://www.ockenheimer-tennisclub.de/" target="_blank">Ockenheimer Tennisclub
        e.V.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'show_depts' %}">Meine Reservierungen</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'year_overview' %}">Jahresübersicht</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'password_change' %}">Passwort ändern</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
    </div>
</nav>
{% endif %}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<br/>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <a href="{% url 'index' %}" class="btn btn-secondary active" data-toggle="tooltip"
               data-placement="right" role="button" aria-pressed="true">zurück</a>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm">
            <div class="alert alert-secondary" role="alert">Bisher {{ exts }} Externe Spieler, also 6€ x {{exts}} =
                {{sum}}€
                (vorraussichtlich am Ende der Saison zu bezahlen)
            </div>
        </div>
    </div>

    <br/>
    {% for event in events %}
    <div class="row">
        <div class="col-sm-2">
            {{ event.day }}
        </div>
        <div class="col-sm-2">
            {{ event.title }}
        </div>
        <div class="col-sm-2">
            {% for p in event.players.all %}
            {{ p.get_full_name }}
            {% endfor %}
        </div>
        <div class="col-sm-2">
            {{ event.type }}
        </div>
        <div class="col-sm-1">
            {{ event.start_time }} Uhr
        </div>
        <div class="col-sm-1">
            {{ event.duration }} Std
        </div>
        <div class="col-sm-1">
            {{ event.number }}
        </div>
        <div class="col-sm-1">
            {% if event.externPlayer1 %}{{ event.externPlayer1 }}{% endif %}
            {% if event.externPlayer2 %}{{ event.externPlayer2 }}{% endif %}
            {% if event.externPlayer3 %}{{ event.externPlayer3 }}{% endif %}
            {% if not event.externPlayer1 and not event.externPlayer2 and not event.externPlayer3 %}
            / {% endif %}
        </div>
    </div>
    {% endfor %}

    {% else %}
    {% include "not_registered.html" %}
    {% endif %}
</div>
{% endblock %}
