{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Neues Passwort{% endblock %}

{% block content %}
    <br/>
    <div class="card mx-auto" style="width: 35rem;">
        <div class="card-body">
            <h4 class="card-title">Passwort ändern</h4>

            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}

                <button type="submit" class="btn btn-success">speichern</button>
            </form>
        </div>
    </div>

{% endblock %}