{% extends 'base.html' %}

{% block title %}Neues Passwort anfragen{% endblock %}

{% block content %}
<br/>
<div class="container">
    <div class="row">
        <div class="col">
            {% if not sendmail_success %}
            {% if tried_to_send %}
            <p style="color:red;">Error: Ein neues Passwort konnte nicht angefragt werden! Bitte kontaktiere:
                mariusschmitt@algrande.net</p>
            {% endif %}
            <h2>Neues Passwort anfragen</h2>

            <p>Du hast dein Passwort vergessen?</p>

            <form method="post">
                {% csrf_token %}
                <label for="username">Vor- und Nachname: </label>
                <input type="text" class="form-control" name="username" id="username" aria-describedby="helptext"
                       placeholder="Vor- und Nachname" required>
                <small id="helptext" class="form-text text-muted">Bitte gib, zur Identifizierung, deinen vollständigen
                    Namen an
                </small>
                <br/>
                <label for="useremail">Email Adresse: </label>
                <input type="email" class="form-control" name="email" id="useremail" aria-describedby="emailHelp"
                       placeholder="Email Adresse" required>
                <small id="emailHelp" class="form-text text-muted">Bitte gib (d)eine gültige Emailadresse an
                </small>

                <br/>
                <button type="submit" name="request_new_pw" class="btn btn-secondary active">Ja, neues Passwort
                    beantragen
                </button>
                <a href="{% url 'login' %}" class="btn btn-secondary active" role="button" aria-pressed="true">zurück</a>
            </form>

            {% else %}
            <h2>Neues Passwort erfolgreich beantragt!</h2>
            <p>Es kann einige Zeit in Anspruch nehmen, bis du Rückmeldung erhältst.</p>
            <a href="{% url 'login' %}" class="btn btn-secondary active" role="button" aria-pressed="true">Zurück zum Login</a>
            {% endif %}

        </div>
    </div>


</div>


{% endblock %}