{% extends 'base.html' %}

{% block title %}Neues Passwort anfragen{% endblock %}

{% block content %}
    <br/>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Neues Passwort anfragen</h2>


                <p>Du hast dein Passwort vergessen?</p>


                <form method="post">
                    {% csrf_token %}
                    <label for="username">Vor- und Nachname: </label>
                    <input type="text" class="form-control" name="username" id="username" aria-describedby="helptext"
                           placeholder="Vor- und Nachname" required>
                    <small id="helptext" class="form-text text-muted">Bitte gib, zur Identifizierung, deinen Namen an
                    </small>

                    <label for="useremail">Email Adresse: </label>
                    <input type="email" class="form-control" name="email" id="useremail" aria-describedby="emailHelp"
                           placeholder="Email Adresse" required>

                    <br/>
                    <button type="submit" name="request_new_pw" class="btn btn-secondary active">Ja, neues Passwort
                        beantragen
                    </button>
                    <a href="{% url 'login' %}" class="btn btn-secondary active" role="button" aria-pressed="true">Nein,
                        doch nicht</a>
                </form>


            </div>
        </div>


    </div>


{% endblock %}